<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                   
                   <th scope="col">Name</th>
                    <th scope="col">Phonenumber</th>
                    <th scope="col">Email</th>
                    <th scope="col">Website</th>
                 </tr>
                </thead>
                  <tbody>
                  <tr *ngFor="let i of airlinesData">
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.country}}</td>
                    <td>{{i.logo}}</td>
                    <td>{{i.head_quaters}}</td>
                   
                   
                  </tr>
                
                </tbody>
              </table>
        </div>
    </div>
</div>
